/*                      TAGS                */

* {
    margin: 0.75% 1px;
}

body {
    background-color: #000; /* palette https://colorhunt.co/palette/0000003e065f700b978e05c2 */
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0.5% 2%;
}

button {
    background-color: #007fff;
    font-size: 32px;
    border-radius: 12px;
    color: white;
}

img {
    border-style: solid;   
    border-color: #007fff;
    border-width: 10px;
    border-radius: 10px;
}

/*                      CLASSES               */

.suggestion {
    border-style: solid;
    border-color: #007fff;
    border-width: 5px;
    border-spacing: 10px;
    width: 20%;
}

.redacted {
    color: #ff0000;
    background-color: #FFBC7A;
}

.rick-roll{
    width: 50%;
    height: 50%;
}

.huge-icon {
    font-size: 10rem;
    color: greenyellow;
}

/*                    IDS        */

#fortnite {
    color: #007fff;
    font-weight: bolder;
    font-size: 40px;
}

#videoslink {
    color: #007ffff; /*the code works fine vscode is just being a brat*/
    font-size: 40px;
    border-style: solid;
    border-color: #007ffff;
    border-width: 10px;
}

#videoslink:hover {
    font-size: 45px;
    font-weight: bold;
}

#videoslink:visited {
    color: #007fff;
}
