body {
    background-color: #bfab27; /* palette https://colorhunt.co/palette/0000003e065f700b978e05c2 */
    color: #000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding:2.5%;
}

button {
    background-color: #a8d424;
    color: #ffffff;
    font-size: 32px;
    border-radius: 12px;
}

img {
    border-style: solid;   
    border-color: #a8d424;
    border-width: 10px;
    border-radius: 10px;
}

.suggestion {
    border-style: solid;
    border-color: #c5db81;
    border-width: 5px;
    border-spacing: 10px;
    width:20%;
}

.redacted {
    color: #ff0000;
    background-color: #FFBC7A;
}

#fortnite {
    color: #147a14;
    font-weight: bolder;
    font-size: 40px;
}
